@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    
    /* Brand Colors */
    --color-primary: #701218;
    --color-primary-hover: #590e13;
    --color-primary-light: rgba(112, 18, 24, 0.1);
    --color-text: #0f172a;
    --color-text-muted: #64748b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@theme {
    --font-serif: var(--font-playfair);
    --font-sans: var(--font-inter);
}

@layer base {
    body {
        @apply bg-slate-50 text-slate-900;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }
}

@layer utilities {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-[#701218] to-[#D4C5A9];
    }
}